* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.2rem;
  color: #dedede;
  padding: 2rem;
}

button {
  padding: 1rem 3rem;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: inherit;
  color: white;
  cursor: pointer;
  border: none;
  background-color: inherit;
  text-align: right;
}
button:hover {
  border-bottom: 2px solid #e3cd08;
  color: #e3cd08;
}
