.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.tabs-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 10vh;
  background-color: oklch(0.685 0.169 237.323);
}
.tabs {
  display: flex;
  margin-top: 2.5rem;
}
.tabs-content {
  background-color: oklch(0.588 0.158 241.966);
  color: #f5f3f3;
  padding: 2.5rem 2rem;
  flex: 1;
  overflow-y: auto;
}
.tabs-content p {
  font-size: 1.8rem;
  padding-top: 2rem;
}
button {
  padding: 1rem 3.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: inherit;
  letter-spacing: 0.1em;
  color: #f5f3f3;
  cursor: pointer;
  border: none;
  background-color: inherit;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
button:hover {
  color: #facc15;
  border-bottom: 3px solid #facc15;
  transition: all 0.4s ease;
}
.active {
  color: #facc15;
  font-weight: 700;
  background-color: oklch(0.588 0.158 241.966);
  transition: all 0.6s ease;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  button {
    padding: 1rem 3rem;
  }
  .tabs-content p {
    font-size: 1.6rem;
  }
}
@media (max-width: 640px) {
  button {
    padding: 1rem 2.5rem;
  }
  .tabs {
    align-items: flex-start;
  }
  .tabs-content p {
    font-size: 1.4rem;
  }
  .active {
    transform: scale(1.1);
  }
}
@media (max-width: 480px) {
  button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }
}
